@import '@/styles/variables.less';

.page {
  min-height: 100%;
  background-color: @bg-color;

  .header {
    padding: @spacing-lg;
    text-align: center;
    background-color: @bg-color-white;

    h1 {
      font-size: @font-size-xl;
      font-weight: bold;
      color: @text-color;
    }
  }

  .content {
    padding: @spacing-lg 0;
  }
}
